body {
  background-color: #303030;
  color: white
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading h1 {
  font-weight: 400;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px;
  background-color: #404040;
  margin: 10px;
  height: 500px;
  justify-content: center;
}

.game-card img {
  align-self: center;
  height: auto;
  width: 200px;
}

.game-card-details {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
  padding: 40px;
  background-color: #404040;
  margin: 10px auto;
  justify-content: center;
  width: 50%;
}

.game-card-details img {
  align-self: center;
  height: auto;
  width: 500px;
}

.game-card .game-card-description {
  margin: 10px 0;
  font-size: 12px;
}

.link {
  background-color: #6A95CC;
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-list {
  width: 30%;
}

.header {
  margin-bottom: 70px;
  width: 100vw;
  background-color: #3A4D8F;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
