@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  font-family: 'Press Start 2P' , cursive;
  font-size: 20px;
  margin-bottom: 70px;
  margin-top: 20px;
}

body {
  background: #d3c4d3;
  color: rgb(58, 55, 55);
}

.App {
  text-align: center;
}

.map {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 0 0 rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  max-width: 700px;
}

.purple-font {
  color: #ff73fa;
}

.lat-long-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.lat-long {
  align-items: center;
  display: flex;
  margin-top: 5px;
}

.lat-long-img {
  margin-right: 5px;
}
