body{
    background-color: blanchedalmond;
    left: auto;
    right: auto;
    top:auto;
    bottom: auto;  
}

.nav-links {
    
}

.nav-links li {
    display: inline;
}

.mainSection{
    display: flex;
    flex-direction: row;
    margin-top:4px;
}

header {
    padding: 10px;
    border: 4px solid red;
    background-color: rgb(174, 240,172);
    margin-bottom: 1px;
}

main {    
    border: 4px solid rgb(3, 1, 5);
    background-color: rgb(29, 141, 29);
    margin-top:2px;
    width:50%;
    height:auto;
    
}

article {
    border: 4px solid red;
    background-color: aqua;
    width: 100%;
    margin-left: 0px;
    height: 1400px;
    margin-top:50px;
}


section {
    font-size: 20px;
    margin-bottom: 0px;
}

aside {
    background-color: gold;
    height: auto;
    width: 50%;
    margin-top: 1px;

}

h1 {
    font-size: 50px;
}


h3 {
  font-size: 40px;
}

h4, h5, h6 {
    font-size: 30px;
}

.footer {
    padding: 30px;
    background-color: green;
    margin-top: 70px;

}

.paragrah {
    font-size: 20px;
}