body{
    background-color: blanchedalmond;
    
   
}

.nav {
    padding: 50px 30px;
    background-color: aqua;
    border: 1px solid black;


}

.nav-links li {
    display: inline;
    font-size: 30px;
    left: 0px;
    margin-left: 450px;
}

.article {
    padding: 80px;
    width: 1000px;    
    margin-left: 0px;
    overflow: hidden;
    
}

h1 {
    font-size: 60px;
    margin-left: 60px;
    text-align: center;
}
h2{
    font-size: 50px;
}

h3, h4, h5, h6 {
    font-size: 30px;
}
.paragrah {
    font-size: 30px;
}

aside {
    font-size: 25px;
    font-weight: bold;
    width: 1000px;
    margin: auto;
    margin-top:120px;
    float: right;
    font-style: italic;
    border: 3px dotted black;
    background-color:aqua;
    
}

.img1 {
   width: 50%;
   
}

.img3 {
    width: 50%;
    left: 1145px;
    top:1320px;
}

.img2{
    
    width: 50%;
    top:1900px;
}