.taskItem {
    font-size: 30px;
    border: 1px solid black;
}

.footer{
    padding: 20px;
    font-size: 30px;
    border: 3px solid black;
}

.taskItem {
    background-color: aqua;
}

.selected {
    background-color: rgb(128, 128, 128);
}

.completed {
   text-decoration: line-through solid rgb(0, 0, 0);
}