#title { 
    font-size: 80px;
    font-weight: 200;
}

.color {
    color: brown;
}

.palette-list li {
    display: inline-flex;
}

td, th {
    border: 1px solid #999;
    padding: 40px;
  }

.pixel {
   width: 40px;
   height: 40px;
   border: 1px solid black;
}    