
.App {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid;
}

aside {
  border: 1px solid;
  padding: 5px;
}