.caixa {
    color: rgb(129, 32, 32);
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }

  .width-and-height {
    height: 50px;
    width: 50px;
  }

  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

  }

  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border-style: dotted
  }