body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #303030;
}

h2 {
  font-size: 72px;
  font-weight: 500;
  color: #78eb82;
  text-align: center;
}

button {
  font-family: Digital;
  background-color: transparent;
  border: 2px solid #78eb82;
  color: #78eb82;
  font-size: 30px;
  padding: 10px;
}