body {
  background: #303030;
  color: white;
}

.App {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.new-question {
  display: flex;
  justify-content: center;
}

.new-question form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.new-question form label {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.question-section form {
  display: flex;
  flex-direction: column;
}

.question-section label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.main-header {
  position: fixed;
  width: 100%;
  background: #17872a;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-header-title {
  max-width: 60vw;
  display: flex;
  justify-content: center;
}

.main-section {
  margin-top: 100px;
  max-width: 60vw;
}

.question-card {
  padding: 20px;
  border-radius: 2%;
  background: #3a3a3a;
  margin-bottom: 10px;
}

.question-card-header {
  font-weight: 900;
  display: flex;
  align-items: center;
}

.question-card-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
}

.question-card p {
  margin-bottom: 0;
}

button {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 900;
  background: #17872a;
  border: none;
  border-radius: 2%;
  padding: 10px;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input, textarea {
  border: none;
  background: #252525;
  color: #fff;
  padding: 5px;
  border-radius: 2%;
  margin-top: 5px;
}
